@import '../import/var';
.Wpage{
    width: 100%;
    height: 100%;
    background-image: url(../../images/BG_YANG.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    .navigater{
        width: 32rem;
        line-height: 3.2rem;
        padding-left:11.5rem;
        padding-top: 5.3rem;
        nav{
            display: flex;
            justify-content: space-around;
            height: 3.2rem;
            border-radius: 3.2rem;
            box-shadow: 0px 0.2rem 0px rgba(0, 0, 0, 0.16);
            .nav_button{
                width: 8.8rem;
                height: 2.3rem;
                line-height: 2.3rem;
                margin: 0.45rem auto;
                text-align: center;
                a{
                    text-align: center;
                    text-decoration: none;
                    color: $sexy-black;
                    font-family: $font-family;
                }
                &--focus{
                    background: linear-gradient(to left,$lemon-yellow 0%,$sky-blue 100%);
                    border-radius: 2.3rem ;
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
    .cantainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        .cantainer_right{
            margin-top: 19rem;
            width: 50%;
            .c_title{  
                display: flex;
                justify-content: space-between;
                margin:0 3rem 0  11rem ;
                .title_text{
                    font-size: 2.5rem;
                    &--blue{
                        color: $romantic-blue;
                    }
                }
            }
            .c_context{
                margin: 2.6rem 15rem ;
                .context_text{
                    font-size: 1.4rem;
                    color: $sadding-gray;
                }
            }
            .c_button{
                background-color: $romantic-blue;
                width: 12.8rem;
                height: 3.6rem;
                margin: 2.6rem 15rem;
                line-height: 3.6rem;
                text-align: center;
                .button_text{
                    font-size: 1.4rem;
                    color: $white;
                }
            }
        }
        .cantainer_left{
            width: 50%;
            .c_context{
                margin: 19rem 0 0 35rem;
                height: 7.5rem;
                width: 9.7rem;
                .context_text{
                    margin: 0.6rem;
                    font-size: 0.9rem;
                }
            
            }
        }
    }
}