//主色
$primary-color:#ff6c5f;
//第二主色
$second-color:#ffc168;//rgb(87, 81, 110);
//其他
$other-color:white;
//乳黃色
$warm-yellow:#ffc168;
//----------------------------- RWD 斷點 -----------------------------
$xl-media:1200px;
$lg-media:992px;
$md-media:768px;
$sm-media:576px;