
//----------------------------- RWD 斷點 -----------------------------
$xl-media:1024px;
//------------------------------顏色------------------------------
$romantic-blue:#847AFD;
$love-red:#FC7373;
$sexy-black:#4D4D4D;
$sadding-gray:#919191;
$juicy-orange:#FFAC64;
$lemon-yellow:#FFE164;
$sky-blue:#70BCFD;
$white:white;
//------------------------------字體-----------------------------
$bg-size:2vw;
$md-size:1.5vw;
$sm-size:1vw;

/*------------------------------字形------------------------------*/
$font-family:"Helvetica Neue";